absl-py==2.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
annotated-types==0.7.0
astunparse==1.6.3
attrs==24.2.0
Automat==24.8.1
beautifulsoup4==4.13.4
bitarray==3.8.0
blinker==1.9.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
ckzg==2.1.5
click==8.1.8
constantly==23.10.4
construct==2.10.70
contourpy==1.3.0
curl_cffi==0.11.1
cycler==0.12.1
cytoolz==1.1.0
eth-account==0.13.7
eth-hash==0.7.1
eth-keyfile==0.8.1
eth-keys==0.7.0
eth-rlp==2.2.0
eth-typing==5.2.1
eth-utils==5.3.1
eth_abi==5.2.0
filelock==3.16.1
Flask==3.1.0
flatbuffers==24.3.25
fonttools==4.54.1
frozendict==2.4.6
frozenlist==1.8.0
fsspec==2024.10.0
gast==0.6.0
gensim==4.3.3
google-pasta==0.2.0
grpcio==1.67.1
h5py==3.12.1
hexbytes==1.3.1
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
keras==3.6.0
kiwisolver==1.4.7
libclang==18.1.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
mdurl==0.1.2
ml-dtypes==0.4.1
mpmath==1.3.0
multidict==6.7.0
multitasking==0.0.11
namex==0.0.8
networkx==3.4.2
nnfs==0.5.1
numpy==1.26.4
opt_einsum==3.4.0
optree==0.13.0
packaging==24.1
pandas==2.2.3
parsimonious==0.10.0
peewee==3.18.1
pillow==11.0.0
platformdirs==4.3.8
pluggy==1.6.0
propcache==0.4.1
protobuf==5.28.3
pyasn1==0.6.1
pycparser==2.22
pycryptodome==3.23.0
pydantic==2.12.4
pydantic_core==2.41.5
Pygments==2.18.0
pyparsing==3.2.0
pysnmp==7.1.15
pytest==9.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-mnist==0.7
pytz==2024.2
pyunormalize==17.0.0
PyYAML==6.0.2
regex==2025.11.3
requests==2.32.3
rich==13.9.4
rlp==4.1.0
scikit-learn==1.5.2
scipy==1.13.1
setuptools==75.3.0
six==1.16.0
smart-open==7.1.0
soupsieve==2.7
sympy==1.13.1
ta==0.11.0
tensor==0.3.6
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
termcolor==2.5.0
threadpoolctl==3.5.0
toolz==1.1.0
torch==2.5.1
torchflow==0.0.3
torchvision==0.20.1
Twisted==24.11.0
types-requests==2.32.4.20250913
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2024.2
urllib3==2.2.3
web3==7.14.0
websockets==15.0.1
Werkzeug==3.1.1
wheel==0.44.0
wrapt==1.16.0
yarl==1.22.0
yfinance==0.2.61
zope.interface==7.2
